@tailwind base;
@tailwind components;

@tailwind utilities;
/* Hide scrollbar for Chrome, Safari and Opera */

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Signika+Negative:wght@300;400;700&display=swap");

body {
  font-family: "Dosis", sans-serif;
  font-family: "Signika Negative", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
@keyframes Toglebar {
  from {
    margin-top: -500px;
  }
  to {
    margin-top: 0px;
  }
}

.sidebaranimation {
  position: relative;
  animation-name: Toglebar;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}
